<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img
                src="./assets/img/brand/icon.png"
                style="width: 100px;"
                class="img-fluid"
              />
              <h2 style="color: white; font-size: 30px; font-weight: 600;margin-top: 20px;">
                Sleep & Relax Sounds
              </h2>
              <div class="btn-wrapper mt-5">
                <div
                  class="wsite-image wsite-image-border-none"
                  style="
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-left: 0px;
                    margin-right: 0px;
                    text-align: center;
                  "
                >
                  <a
                    href="https://play.google.com/store/apps/details?id=com.bitiel.sleeprelax"
                    target="_blank"
                  >
                    <img
                      src="./assets/img/brand/googleplay.png"
                      style="border-radius: 15px"
                      alt="Picture"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">
            Do you want some relaxing time?
            <span class="text-success">Or you want to beat insomnia?</span>
          </h2>
          <p class="lead">
            Enjoy the peaceful time with a set of a variety of soothing sounds
            and music. Whenever you try to close your eyes and relax you can
            choose between a pre-defined set of sound mixes.
          </p>
          <p class="lead">
            You can as well mix the sounds in the way you like to make it
            suitable for your taste. Pick up the items to activate and set the
            right volume according to your preferences.
          </p>
          <div class="btn-wrapper">
            <a
              href="https://play.google.com/store/apps/details?id=com.bitiel.sleeprelax"
              target="_blank"
              class="btn btn-primary mb-3 mb-sm-0"
              >Download</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
